.film-item {
    position: relative;
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
    overflow: hidden;
    border-radius: 8px;
}

.film-item:hover {
    transform: scale(1.05);
}

.film-item img {
    width: 100%;
    border-radius: 8px;
}

.film-item figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 8px;
    font-size: 1.2em;
    color: white;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    backdrop-filter: blur(5px); /* Blurred background */
    text-align: center;
    box-sizing: border-box;
}

.song-count {
    position: absolute;
    top: 8px;
    left: 8px;
    padding: 4px 8px;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    color: white;
    font-size: 0.9em;
    border-radius: 4px;
}

.film-item.small {
    max-height: 220px; /* Adjust height as needed */
}

.film-item.normal {
    max-height: 240px; /* Adjust height as needed */
}

.film-item.big {
    max-height: 300px; /* Adjust height as needed */
}