.film-item {
    cursor: pointer;
    transition: transform 0.2s;
    text-align: center;
}

.film-item:hover {
    transform: scale(1.05);
}

.film-item img {
    width: 100%;
    border-radius: 8px;
}

.film-item figcaption {
    margin-top: 8px;
    font-size: 1.2em;
    color: #333;
}