.song-list {
  padding: 20px;
  background-color: #252525;

  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  .list-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
      margin: 0;
      padding: 0;
    }

    .list-counter {
      display: flex;
      align-items: center;
      font-size: 18px;
      color: white;

      i {
        margin-right: 8px;
      }
    }
  }

  .song-list-title {
    font-size: 24px;
    font-weight: bold;
    color: white;
  }

  .season-block {
    padding-left: 10px;
    padding-right: 10px;
  }

  .season-title {
    font-size: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 10px;
  }

  .episode-block {
    margin-bottom: 15px;
    padding-left: 20px;
    border-left: 2px solid #ddd;
  }

  .episode-title {
    font-size: 18px;
    font-weight: bold;
    color: white;
    margin-bottom: 8px;
  }
}

.song-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
  background-color: #252525;
  transition: background-color 0.3s, box-shadow 0.3s;

  &:hover {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  &.song-item--active {
    background-color: #444;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

    .left-side .play-icon {
      color: #ff6b6b; /* Active state color */
    }
  }

  .left-side {
    display: flex;
    align-items: center;

    .play-icon {
      font-size: 24px;
      cursor: pointer;
      margin-right: 10px;
      color: #fff;
      transition: color 0.3s;

      &:hover {
        color: #007bff; /* Hover color */
      }
    }

    .song-title {
      font-size: 16px;
      color: #fff;

      .song-author {
        font-weight: bold;
      }
    }
  }

  .right-side {
    display: flex;
    align-items: center;
    grid-gap: 8px;

    .left-buttons,
    .right-buttons {
      display: flex;
      align-items: center;

      i {
        font-size: 20px;
        cursor: pointer;
        margin-left: 10px;
        color: #fff;
        transition: color 0.3s;

        &:hover {
          color: #007bff;
        }
      }
    }
  }
}

.error {
  color: red;
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}
